
<div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/prem-tatkari-ba0676248/">LinkedIn</a>
  <a class="footer-link" href="https://github.com/premtatkari/">Github</a>
  <a class="footer-link" href="#">Website</a>
  <p class="footer">© Prem Tatkari.</p>
</div>
</body>
</html>
