<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/stylesmain.css">
  <link rel="icon" href="/public/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Merriweather&family=Montserrat&display=swap" rel="stylesheet">
  <ul class="nav">
    <li id="home"><a href="/">HOME</a></li>
    <li id="articles"><a href="/articles">ARTICLES</a></li>
    <li id="compose"><a href="/compose">COMPOSE</a></li>
  </ul>
  <body class="main">